@font-face {
  font-family: 'Vascan';
  src: url('../content/fuentes/vascan.ttf') format('font-file-extension');
}
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

label, .logon {
  font-family: 'Vascan', 'Luckiest Guy';
  font-size: 28px;
}

.logon{
  color:white;
  height: 48px;
  width: 250px;
  background-color: green;
}

input {
  border-radius: 16px;
  width: 250px;
  height: 33px; 
  margin: 8px 4px;
  padding: 7px 9px;
  vertical-align: middle;
}
 .erronea, input{
    h2{
      font-family: 'Vascan', 'Luckiest Guy';
      font-size: 22px;
      color:rgb(139, 66, 133);
    }   
 }

.formu {
  h2{
    font-family: 'Vascan', 'Luckiest Guy';
    font-size: 36px;
  }
}

.interface{
    width: 1152px;
    height:868px;
    /* background: url("../img/fondo.png") no-repeat;  */
    border-radius: 15px;
}

.container {
    max-width: 1152px;
    max-height:768px;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-row-gap: 0; 
    z-index:1;
  }

  .celda {
    width: 48px;
    height: 48px;
    border: none;
    background-color: transparent;
    z-index:1;
  }

  .muro {
    width: 48px;
    height: 48px;
    background: radial-gradient(circle, rgba(190,104,18,1)6%, rgba(156,23,19,1) 94%);
    border-radius: 5px;
    z-index:10;
  }

  .sobre {
    width: 48px;
    height: 48px;
    border: none;
    background-image: url('../img/sobre.png');
    z-index:5;
  }

  .puerta {
    width: 48px;
    height: 48px;
    border: none;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(99,99,99,1) 48%, rgba(102,102,102,1) 57%, rgba(250,250,250,1) 58%, rgba(255,255,255,1) 100%);
    z-index:10;
  }

/* Definimos las propiedades de los personajes */
  .avatar, .avatarBis {
    /* visibility:hidden; */
    width: 48px;
    height: 48px;
    border-radius: 25px;
    background-color: transparent;
    margin: 0;
    padding: 1px;
    z-index:11;
  }

  .feijoo{
    position:absolute;
    top:458x;
    left:576px;
  }

  .yolanda{
    position:absolute;
    top: 356px;
    left: 680px;
  }

  .iglesias{
    position:absolute;
    top: 356px;
    left: 392px;
  }

  .ayuso{
    position:absolute;
    top:452px;
    left: 1112px;
  }

  .titulo{
    position:absolute;
    top: 356px;
    left:440px;
    z-index: 10;
  }
  h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: rgb(6, 70, 50);
    text-align: center;
  }
  .marca{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content:space-around;
      h4 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 22px;
        color: red;
        text-align: center;
      }
  }
