<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Come Sobres</title>
    <link rel="stylesheet" type="text/css" href="../view/css/styles.css" />
    
  </head>
  <body>
    <div class="interface">
      <div id="marcador" class="marca">
        <div style="width:576px;">
          <table>
            <tr><td><h4 style="color:green;">Jugador 1:  </h4></td><td><h4 id="puntos"></h4></td></tr></table></div>
        <div style="width:576px;"><h4 id="total"><span style="color:green;">Récord:  </span></h4></div>
      </div>
      <div id="container" class="container">
        <div id="prota" class="feijoo avatar" data-x="576" data-y="458"><img src="../view/img/feijoo.png" width="46px" height="46px" alt="Jugador Feijoo"/></div>
        <div class="titulo"><img src="img/titulo.png" width="220px" height="48px" alt="Come Sobres by Xlasa@Birt"/></div>
        <div id="yolanda" class="yolanda avatar"><img src="../view/img/yoyolanda.png" width="46px" height="46px" alt="Enemigo Yolanda"/></div>
        <div id="iglesias" class="iglesias avatar"><img src="../view/img/coletas.png" width="46px" height="46px" alt="Enemigo Iglesias"/></div>
        <div id="ayuso" class="ayuso avatarBis"><img src="../view/img/ayuser.png" width="46px" height="46px" alt="Amigui Ayuser"/></div>
      </div>
    </div>
    <script type="text/javascript" src="js/jquery_3.7.1.js"></script>
    <script type="text/javascript" src="../model/clases.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="../model/eventos.js"></script>
  </body>
</html>